@font-face {
    font-family: Vcr;
    src: url('../font/Retro_Gaming.ttf');
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Vcr;
}

body{
    width: 412px; 
    height: 914px;
    margin: 0;
}

.hidden{
    display: none;
}

/*  Pokedex Design  */

.main-div-container{
    width: 419px; 
    height: 914px;
}

.pokedex{
    width: 416px; 
    height: 1050px; 
    border: 3px solid #555;
    background: rgb(118,125,141);
    position: relative;
}

.display1{
    position: absolute;
    z-index: 0;
    margin-top: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 325px; 
    height: 300px; 
    border: 10px solid rgb(36, 36, 36);
    /* background-color: gray; */
    background-color: rgb(9,178,123);
}

.display2{
    position: absolute;
    z-index: 0;
    margin-top: 22.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 325px; 
    height: 200px; 
    border: 10px solid rgb(36, 36, 36);
    /* background-color: gray; */
    background-color: rgb(9,178,123);
}

.camera{
    position: absolute;
    width: 25px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(56, 64, 80);
    border: 1px solid rgb(40,46,58);
    z-index: 0;
    margin-top: 10px;
    margin-left: 48%;
}

.down_part{
    width: 100%;
    height: 450px;
}

.semi-circulo {
    width: 398px; 
    height: 200px; 
    /* width: 96%; 
    height: 45%;  */
    background: rgb(194,0,26);
    border: 10px solid #282e3a;
    -moz-border-radius: 350px 350px 0 0;
    -webkit-border-radius: 350px 350px 0 0;
    border-radius: 300px 300px 0 0;
    z-index: 0;
    margin-top: 38rem;
    margin-left: 0rem;
}

.cuadrado-red{
    position: absolute;
    z-index: 1;
    margin-top: -1em;
    margin-left: 0rem;
    margin-right: 2rem;
    width: 398px; 
    height: 193px;
    /* width: 96%; 
    height: 20%;  */
    background: rgb(194,0,26);
    border: 10px solid rgb(194,0,26);
}


.barra{
    position: absolute;
    width: 35px; 
    height: 445px; 
    width: 35px; 
    height: 445px; 
    border: 3px solid rgb(40,46,58);
    background: rgb(40,46,58);
    z-index: 2;
    margin-top: -13.3rem;
    margin-left: 12rem;
    transform: rotate(329deg);

}

.circulo-white{
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
    border: 20px solid rgb(40,46,58);
    z-index: 2;
    margin-top: -3rem;
    margin-left: 9.1rem;
    position: absolute;

}

#changeColor-btn{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    /* border: 2px solid rgb(40,46,58); */
    z-index: inherit;
}

#changeColor-btn:hover{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    /* border: 2px solid rgb(40,46,58); */
    
    background-color: rgb(233,233,231);
}

.trapecio {
    position: absolute;
    width: 30px;
    height: 10px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 100px solid rgb(194,0,26);
    /* background: rgb(194,0,26); */
    /* border: 10px solid #282e3a; */
    z-index: 3;
    transform: rotate(0deg);
    margin-top: 0.7rem;
    margin-left: -4.4rem;
}

.trapecio-border {
    position: absolute;
    width: 30px;
    height: 10px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 110px solid #282e3a;
    /* background: rgb(194,0,26); */
    /* border: 10px solid #282e3a; */
    z-index: 3;
    transform: rotate(90deg);
    margin-top: 2rem;
    margin-left: -1.5rem;
}

.trapecio-right {
    position: absolute;
    width: 30px;
    height: 10px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 100px solid rgb(194,0,26);
    /* background: rgb(194,0,26); */
    /* border: 10px solid #282e3a; */
    z-index: 3;
    transform: rotate(0deg);
    margin-top: 0.6rem;
    margin-left: -4.4rem;
}

.trapecio-border-right {
    position: absolute;
    width: 30px;
    height: 10px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 110px solid #282e3a;
    /* background: rgb(194,0,26); */
    /* border: 10px solid #282e3a; */
    z-index: 3;
    transform: rotate(270deg);
    margin-top: 2rem;
    margin-left: 17.1rem;
}



.last-border{
    position: absolute;
    text-align: center;
    z-index: 3;
    width: 100%; 
    height: 40px; 
    border-right: 6px solid white;
    background: white;
    margin-top: -2.1rem;
    margin-left: -4px;
}

.last-p{
    padding-top: 5px;
    margin-left: 0.5rem;
    font-size: 20px;
}
/* Mostrar infos */


.pokemon-data{
    color: rgb(65,61,60);
    font-family: Vcr;
    font-size: 13px;
}

.left-data{
    float: left;
    
}

.right-data{
    float: left;
    margin-left: 1rem;
}

.upper{
    width: 100%;
    height: 55%;
    /* border: 2px solid yellow; */
}
.image{
    width: 150px;
    height: 150px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    float: left;
}
.data{
    border: 2px solid rgb(24,24,24);
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    /* padding-top: 0.1rem;
    padding-right: 0.5rem; */
}

.dataname{
    /* border: 2px solid blue; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(215,215,215);
    /* width: 100%; */
    height: 30px;
    padding-left: 10px
}

.dataname > p{
    padding-top: 6px;
}

.pokemon-img{
    width: 150px;
    height: 150px;
}

.t-hw{
    margin-top: 0px;
    /* border: 2px solid green; */
    /* width: 100%; */
    height: 120px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgb(233,233,231);
}

.types{
    /* width: 100%; */
    height: 26px;
    /* border: 2px solid pink; */
    padding: 12px 0px 0px 10px;
}
.type-pokemon{
    width: 50px;
    height: 20px;
}

.ht,.wt{
    height: 40px;
    /* border: 2px solid white; */
    color: rgb(89,85,84);
}

.ht > p, .wt > p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 13px;
}

.extra{
    /* border: 2px solid yellow; */
    height: 45%;
    padding-left: 5px;
    padding-right: 5px;
}

.abis{
    height: 96%;
    width: 45%;
    border-radius: 5px;
    border: 2px solid rgb(24,24,24);
    background-color: rgb(233,233,231);
    float: left;
}

.abis-title,.stats-title{
    background-color: rgb(215,215,215);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.abis-title > p{
    padding-left: 12px;
    
}

.abi1,.abi2{
    height:40%;
    border: 2px red;
}

.abi1 > p, .abi2 > p{
    padding-top: 10px;
    color: rgb(53, 50, 49);
    padding-left: 10px;
    font-size: 13px;
}

.stats{
    height: 96%;
    width: 48%;
    border-radius: 5px;
    border: 2px solid rgb(24,24,24);
    background-color: rgb(233,233,231);
    float: right;
}

.stats-p{
    padding-top: 5px;
}

.stats-title > p{
    padding-left: 8px;
    
}

.stat1, .stat2, .stat3, .stat4, .stat5, .stat6{
    height: 16px;
}

.left-stat{
    float: left;
    
}

.right-stat{
    float: right;
    padding-right: 20px;
}

.stat1 > p, .stat2 > p, .stat3 > p, .stat4 > p, .stat5 > p, .stat6 > p{
    height: 16px;
    color: rgb(53, 50, 49);
    font-size: 13px;
    padding-left: 10px;
}

/* Display 2 */


#pokeName_input{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-family: Vcr;
}

#search-btn{
    width: 50px;
    height: 20px;
    background-color: greenyellow;
    border-radius: 20px;
    border: greenyellow;
    font-family: Vcr;
    font-size: 10px;
    /* border-color: greenyellow; */
}

#search-btn:hover{
    width: 50px;
    background-color: green;
    border-radius: 20px;
    border: green;
    font-family: Vcr;
    font-size: 10px;
    /* border-color: greenyellow; */
}

.moves{
    height: 73%;
    width: 90%;
    margin-left: 13px;
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid rgb(24,24,24);
    background-color: rgb(233,233,231);
}

.moves-title{
    background-color: rgb(215,215,215);
    height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.moves-title > p {
    padding-left: 8px;
    padding-top: 5px;
}

.moves-left{
    float: left;
    width: 40%;
    height: 75%;
    padding-left: 20px;
}

.moves-right{
    float: right;
    width: 40%;
    height: 75%;
    padding-right: 20px;
}

.move1, .move2, .move3, .move4{
    margin-top: 10px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(215,215,215);
    text-align: center;
}

.move1:hover, .move2:hover, .move3:hover, .move4:hover{
    margin-top: 10px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: grey;
}

.move1 > p, .move2 > p, .move3 > p, .move4 > p{
    padding: 5px 15px 10px 0px;
    font-size: 13px;
}

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
/*A partir de 420px a */

@media (min-width: 420px) and (max-width: 480px){
    body,.main-div-container,.pokedex{
        width: 500px;
        height: 1050px;
    }
    .pokemon-data{
        font-size: 18px;
    }
    .display1,.display2{
        width: 410px;
    }
    
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 14px;
        padding: 10px 15px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 15px;
    }
    .down_part{
        /* margin-left: 9%; */
        width: 93%;
        margin-left: 2.5rem;
    }
    .data{
        width: 49%;
    }
    #pokeID, #pokeName{
        font-size: 14px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }
}

@media (min-width: 481px) and (max-width: 553px){
    body,.main-div-container,.pokedex{
        width: 100%;
        height: 1050px;
    }
    
    .display1,.display2,.down_part{
        width: 84%;
    }
    .pokemon-data{
        font-size: 20px;
    }
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 15px;
        padding: 10px 15px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 15px;
    }
    .down_part{
        /* margin-left: 9%; */
        width: 90%;
        margin-left: 3.5rem;
    }
    .data{
        width: 49%;
    }
    #pokeID, #pokeName{
        font-size: 18px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }
}

@media (min-width: 554px) and (max-width: 624px){
    body,.main-div-container,.pokedex{
        width: 100%;
        height: 1050px;
    }
    .pokemon-data{
        font-size: 20px;
    }
    .display1,.display2{
        width: 85%;
    }
    
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 18px;
        padding: 10px 0px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 15px;
    }
    .down_part{
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .data{
        width: 49%;
    }
    #pokeID, #pokeName{
        font-size: 18px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }

}

@media (min-width: 625px) and (max-width: 768px){
    body,.main-div-container,.pokedex{
        width: 100%;
        height: 1050px;
    }
    .pokemon-data{
        font-size: 22px;
    }
    .display1,.display2{
        width: 88%;
    }
    
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 18px;
        padding: 10px 0px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 15px;
    }
    .down_part{
        width: 75%;
        margin-left: 21%;
        
    }
    .data{
        width: 46%;
    }
    #pokeID, #pokeName{
        font-size: 18px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }
}

@media (min-width: 769px) and (max-width: 897px){
    body,.main-div-container,.pokedex{
        width: 100%;
        height: 1050px;
    }
    .pokemon-data{
        font-size: 22px;
    }
    .display1,.display2{
        width: 90%;
    }
    
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 18px;
        padding: 10px 0px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 18px;
    }
    .down_part{
        width: 75%;
        margin-left: 26%;
    }
    .data{
        width: 46%;
    }
    #pokeID, #pokeName{
        font-size: 18px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }
}

@media (min-width: 898px) and (max-width: 1024px){
    body,.main-div-container,.pokedex{
        width: 100%;
        height: 1050px;
    }
    .pokemon-data{
        font-size: 22px;
    }
    .display1,.display2{
        width: 90%;
    }
    
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 18px;
        padding: 10px 0px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 18px;
    }
    .down_part{
        width: 73%;
        margin-left: 28%;
    }
    .data{
        width: 46%;
    }
    #pokeID, #pokeName{
        font-size: 20px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    body,.main-div-container,.pokedex{
        width: 100%;
        height: 1050px;
    }
    .pokemon-data{
        font-size: 60px;
    }
    .display1,.display2{
        width: 93%;
    }
    
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 23px;
        padding: 10px 0px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 25px;
    }
    .down_part{
        width: 67%;
        margin-left: 32%;
    }
    .data{
        width: 46%;
    }
    #pokeID, #pokeName{
        font-size: 22px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }
}

@media (min-width: 1201px) and (max-width: 1400px){
    body,.main-div-container,.pokedex{
        width: 100%;
        height: 1050px;
    }
    .last-border{
        width: 100%;
        height: 30px;
        text-align: center;
    }
    .display1,.display2{
        width: 94%;
    }
    
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 16px;
        padding: 8px 15px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 1px;
    }
    .down_part{
        margin-left: 35%;
        margin-right: 35%;
    }
    .data{
        width: 20%;
    }
    #pokeID, #pokeName{
        font-size: 14px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }
}

@media (min-width: 1401px) and (max-width: 1541px){
    body,.main-div-container,.pokedex{
        width: 100%;
        height: 1050px;
    }
    .last-border{
        width: 100%;
        height: 30px;
        text-align: center;
    }
    .display1,.display2{
        width: 94%;
    }
    
    .move1 > p, .move2 > p, .move3 > p, .move4 > p{
        font-size: 20px;
        padding: 8px 15px 10px 0px;
    }
    .abi1 > p, .abi2 > p{
        font-size: 20px;
    }
    .down_part{
        margin-left: 37%;
        /* margin-right: 37%; */
    }
    .data{
        width: 20%;
    }
    #pokeID, #pokeName{
        font-size: 16px;
    }
    #search-btn, #search-btn:hover{
        width: 100px;
    }
    .moves{
        margin-left: 5%;
    }
    
}
/* @media (min-width: 1025px) and (max-width: 1200px){

} */
